*.ags
__pycache__
*.geojson
Thumbs.db
*.zip
.pyHistory
.ipynb_checkpoints
Index
RasterFunctionsHistory

*.wms

# These contain secrets
.env
*.sde

# Temporary data storage
*.gdb

# Some Esri tools create these
ImportLog/
.backups

